/* spacing on all sections */
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
    
/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/ryan&raphonthebeach.jpg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
    
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}

/* contact background image */
.contact-image {
    height:100vh;
    background: url('images/ryan&raphainthepark-3.jpg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
    
}
.social-links {
    margin: 15% 25%;

  }
  .social-links li {
    list-style-type: none;
    font-size: 18px; /* Adjust font-size as needed */
    margin-bottom: 10px;
  }
  .social-links a {
    font-size: 24px; /* Adjust font-size as needed */
    color: #000000;
  }
  
  .social-links i {
    font-size: 32px; /* Adjust icon size as needed */
    color: #ffffff;
    padding: 10px;
  }
  
  